{% include "./formstart.html" %}
{% block content %}
<div op="{{ title }}" id = "datafromdjango"></div>
<script type = "text/babel">
	var x = document.getElementById('datafromdjango').getAttribute('op');
	console.log(x);

	ReactDOM.render(
	    <FormStart FieldLabels = {["title","image","caption"]} Types = {['title','file','textarea']} PlaceHolders = {[x,'','','']} submitText = "Edit Workout" post_url = "http://www.takecare-app.herokuapp.com/picture/api/pictureupdate/" />,
	    document.getElementById('formstart')
    );

</script>
{% endblock content %}
