{% extends 'main.html' %}
{% block content %}

    {% block bio %}
        <p>hi, i am part of {{ groupname }}</p>
        {% include 'displaybio.html' %}
    {% endblock bio %}
    
    {% if editable %}
    <div class="text-center">
        <a href="{% url 'bio_update' %}" class="btn btn-primary">Update Bio </a>
    </div>
    {% endif %}
    <a class="btn btn-info" href = "{% url 'saved' %}">Your Saves</a>
    

{% if groupname == "trainers" %}

    {% block userblogs %}
        {% include 'blog_display.html' %}
    {% endblock userblogs %}
    {% if user.is_authenticated and editable %}
    <div class="text-center">
        <a class="btn btn-info" href = "{% url 'addpost' %}">Add blog</a>
    </div>
    {% endif %}

    {% block pictures %}
        {% include 'displaypic.html' %}
    {% endblock pictures %}
    {% if user.is_authenticated and editable %}
    <div class="text-center">
        <a class="btn btn-info" href = "{% url 'addpicture' %}">Add post</a>
    </div>
    {% endif %}

    {% block workouts %}
        {% include 'display.html' %}
    {% endblock workouts %}
    {% if user.is_authenticated and editable %}
    <div class="text-center">
        <a class="btn btn-info" href = "{% url 'addworkout' %}">Add workout</a>
    </div>
    {% endif %}


{% endif %}


{% endblock content %}
