{% extends 'main.html' %}
{% block content %}

    {% block bio %}
        <p>hi, i am part of {{ groupname }}</p>
        {% include 'displaybio.html' %}
    {% endblock bio %}
    
    {% if editable %}
    <div class="text-center">
        <a href="{% url 'bio_update' %}" class="btn btn-primary">Update Bio </a>
    </div>
    {% endif %}

    {% if user.is_authenticated and editable %}
    <a class="btn btn-info" href = "{% url 'saved' %}">Your Saves</a>
    {% endif %}

{% if groupname == "trainers" %}

    {% block userblogs %}
        {% include 'blog_display.html' %}
    {% endblock userblogs %}
    {% if user.is_authenticated and editable %}
    <div class="text-center">
        <a class="btn btn-info" href = "{% url 'addpost' %}">Add blog</a>
    </div>
    {% endif %}

    {% block pictures %}
        {% include 'displaypic.html' %}
    {% endblock pictures %}
    {% if user.is_authenticated and editable %}
    <div class="text-center">
        <a class="btn btn-info" href = "{% url 'addpicture' %}">Add post</a>
    </div>
    {% endif %}

    {% block workouts %}
        {% include 'display.html' %}
    {% endblock workouts %}
    {% if user.is_authenticated and editable %}
    <div class="text-center">
        <a class="btn btn-info" href = "{% url 'addworkout' %}">Add workout</a>
    </div>
    {% endif %}
    {% block userplaylist %}
        {% if spotifyUser %}
        {% include 'displayplaylist.html' %}
        {% else %}
            <form action="{% url 'createSpotifyUser' %}" method = "post">
                {% csrf_token %}
                <div class="input-group mb-3" style="width: 45%;left: 250px;top:10px">
                    <input type="text" name='idbro' class="form-control" placeholder="Enter Spotify ID to continue" aria-label="Enter User ID" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button name="submit" class="btn btn-primary" value = "submit" type="submit" id="button-addon2">submit</button>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endblock userplaylist %}
{% endif %}


{% endblock content %}
