
<h1>Welcome to take.care</h1>
<hr>
<br>
<a href="{% url 'blog-dashboard' %}">View blogs</a>
<br>

<hr>

<a href="{% url 'trainer-page' %}">trainer</a>
<a href="{% url 'trainee-page' %}">trainee</a>
<a href="{% url 'logout' %}">logout</a>

<hr>

Right now the functionality is that only if you are logged in as a trainer can you view the blogs.
Creation of blogs only thru admin page rn, but easy to alter.
<br><br><br>
Also you are the one of the most beautiful people in the world don't let anyone tell you otherwise.
<br><br><br>
Have a great day/night ahead. 
love you :)

<hr>