
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .head_text {
        color: white;
    }
    .active{
        background-color: red;
    }
    .card {
        box-shadow: 0 16px 48px rgb(1, 11, 20);
    }
</style>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in obj %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <div>
                        <span class="card-text text-muted h6">{{ post.likes.count }} Likes
                    {% if post not in likelist %}

                        <a href="{% url 'like_blog' post.slug %}" class="btn btn-primary fa fa-thumbs-up"></a>
                        {% else %}
                          <a href="{% url 'like_blog' post.slug %}" class="btn btn-primary btn-danger fa fa-thumbs-down "></a>
                        {% endif %}
                    {% if post not in savelist %}

                            <a href="{% url 'save_blog' post.slug %}" class="btn btn-primary bg-navy fa fa-save"></a>
                            {% else %}
                              <a href="{% url 'save_blog' post.slug %}" class="btn btn-primary btn-danger bg-orange fa fa-save "></a>
                            {% endif %}

</span>

                   </div>
                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                      {% if user.is_authenticated and user == post.author %}
                          <a href="{% url 'post_update' post.slug  %}" class="btn btn-primary">Update &rarr;</a>
                          <a href="{% url 'post_delete' post.slug  %}" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this?')">Delete &rarr;</a>
                      {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}
