{% include "./formstart.html" %}
{% block content %}
<div op="{{ title }}" id = "datafromdjango"></div>
<script type = "text/babel">
var host = window.location.host
	console.log("here");
	var x = document.getElementById('datafromdjango').getAttribute('op');
	console.log(x);
    ReactDOM.render(
    <FormStart FieldLabels = {["title","content","tagname"]} Types = {['title','textarea','text']} PlaceHolders = {[x,'','']} submitText = "Edit Blog" post_url = {`${host}/blogs/api/updatepost/`} />,
    document.getElementById('formstart')
    );
</script>
{% endblock content %}
